<h1>Listing rinktypes</h1>

<table>
  <tr>
    <th>Rink</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rinktypes.each do |rinktype| %>
  <tr>
    <td><%= rinktype.rink_id %></td>
    <td><%= rinktype.type %></td>
    <td><%= link_to 'Show', rinktype %></td>
    <td><%= link_to 'Edit', edit_rinktype_path(rinktype) %></td>
    <td><%= link_to 'Destroy', rinktype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rinktype', new_rinktype_path %>
