<p id="notice"><%= notice %></p>

<p>
  <b>Rink:</b>
  <%= @rinktype.rink_id %>
</p>

<p>
  <b>Type:</b>
  <%= @rinktype.type %>
</p>


<%= link_to 'Edit', edit_rinktype_path(@rinktype) %> |
<%= link_to 'Back', rinktypes_path %>
