<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rink.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @rink.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @rink.address2 %>
</p>

<p>
  <b>Addresscity:</b>
  <%= @rink.addresscity %>
</p>

<p>
  <b>Addressstate:</b>
  <%= @rink.addressstate %>
</p>

<p>
  <b>Addresszip:</b>
  <%= @rink.addresszip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @rink.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @rink.phone2 %>
</p>

<p>
  <b>Website:</b>
  <%= @rink.website %>
</p>

<p>
  <b>Surfacecount:</b>
  <%= @rink.surfacecount %>
</p>

<p>
  <b>Indoor:</b>
  <%= @rink.indoor %>
</p>

<p>
  <b>Openhockey:</b>
  <%= @rink.openhockey %>
</p>

<p>
  <b>Sticktime:</b>
  <%= @rink.sticktime %>
</p>

<p>
  <b>Proshop:</b>
  <%= @rink.proshop %>
</p>

<p>
  <b>Notes:</b>
  <%= @rink.notes %>
</p>


<%= link_to 'Edit', edit_rink_path(@rink) %> |
<%= link_to 'Back', rinks_path %>
