<%= form_for(@rink_program) do |f| %>
  <% if @rink_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rink_program.errors.count, "error") %> prohibited this rink_program from being saved:</h2>

      <ul>
      <% @rink_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rink_id %><br />
    <%= f.number_field :rink_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
