<h1>Listing rink_programs</h1>

<table>
  <tr>
    <th>Rink</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rink_programs.each do |rink_program| %>
  <tr>
    <td><%= rink_program.rink_id %></td>
    <td><%= rink_program.type %></td>
    <td><%= link_to 'Show', rink_program %></td>
    <td><%= link_to 'Edit', edit_rink_program_path(rink_program) %></td>
    <td><%= link_to 'Destroy', rink_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rink program', new_rink_program_path %>
