<p id="notice"><%= notice %></p>

<p>
  <b>Rink:</b>
  <%= @rink_program.rink_id %>
</p>

<p>
  <b>Type:</b>
  <%= @rink_program.type %>
</p>


<%= link_to 'Edit', edit_rink_program_path(@rink_program) %> |
<%= link_to 'Back', rink_programs_path %>
