<h1>Listing rink_leagues</h1>

<table>
  <tr>
    <th>Display</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rink_leagues.each do |rink_league| %>
  <tr>
    <td><%= rink_league.display %></td>
    <td><%= rink_league.value %></td>
    <td><%= link_to 'Show', rink_league %></td>
    <td><%= link_to 'Edit', edit_rink_league_path(rink_league) %></td>
    <td><%= link_to 'Destroy', rink_league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rink league', new_rink_league_path %>
