<p id="notice"><%= notice %></p>

<p>
  <b>Display:</b>
  <%= @rink_league.display %>
</p>

<p>
  <b>Value:</b>
  <%= @rink_league.value %>
</p>


<%= link_to 'Edit', edit_rink_league_path(@rink_league) %> |
<%= link_to 'Back', rink_leagues_path %>
