<h1>Listing hockey_leagues</h1>

<table>
  <tr>
    <th>Rink</th>
    <th>League</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hockey_leagues.each do |hockey_league| %>
  <tr>
    <td><%= hockey_league.rink_id %></td>
    <td><%= hockey_league.league %></td>
    <td><%= link_to 'Show', hockey_league %></td>
    <td><%= link_to 'Edit', edit_hockey_league_path(hockey_league) %></td>
    <td><%= link_to 'Destroy', hockey_league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hockey league', new_hockey_league_path %>
