<p id="notice"><%= notice %></p>

<p>
  <b>Rink:</b>
  <%= @hockey_league.rink_id %>
</p>

<p>
  <b>League:</b>
  <%= @hockey_league.league %>
</p>


<%= link_to 'Edit', edit_hockey_league_path(@hockey_league) %> |
<%= link_to 'Back', hockey_leagues_path %>
