<h1>Listing surfaces</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surfaces.each do |surface| %>
  <tr>
    <td><%= surface.name %></td>
    <td><%= link_to 'Show', surface %></td>
    <td><%= link_to 'Edit', edit_surface_path(surface) %></td>
    <td><%= link_to 'Destroy', surface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Surface', new_surface_path %>
